<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/springmvc/css/bootstrap.min.css">
    <script type="text/javascript" src="/springmvc/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url("/springmvc/img/500.png");
            background-size: 100%;
        }
    </style>
</head>
<body>

    <a href="/springmvc/view/welcome.html">
        <button class="btn btn-primary text-white rounded-0 d-block mx-auto mt-5">返回首页</button>
    </a>

</body>
</html>